valtech_connecting_the_dots: #The name of the profile. Point to this in the dbt_project.yml file.
    target: dev
    outputs:
        dev:
            type: bigquery
            method: service-account
            project: valtech-connecting-the-dots  # The id of the GCP-project to write to
            dataset: dbt                          # All datasets created by DBT will start with this string.
            location: EU
            threads: 1
            keyfile: PATH_TO_JSON_KEYFILE.json # Replace this with a proper path.
            timeout_seconds: 300
            priority: interactive
            retries: 1
